#body{
  height:100%;
  display:flex;
  display : -webkit-flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

#nouvelle-fiche{
  width: 100%;
  border-bottom: 2px solid #B9AA97;
}

#mes-fiches{
  width: 50%;
  border-right: 2px solid #B9AA97;
}

#reglages{
  width: 50%;
}

.section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ion-icon{
  font-size:50px;
  margin-bottom: 5%
}

span{
  padding:0;
}

b {
  color: #B9AA97
}
