<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861834275864-j0rijhii6i54vp3j2e92ifng9ino5p7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861834275864-j0rijhii6i54vp3j2e92ifng9ino5p7i</string>
	<key>API_KEY</key>
	<string>AIzaSyA7FuWsZN1GRizP5V0srakQvGylyqdmirg</string>
	<key>GCM_SENDER_ID</key>
	<string>861834275864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rando.rando</string>
	<key>PROJECT_ID</key>
	<string>rando-pneus</string>
	<key>STORAGE_BUCKET</key>
	<string>rando-pneus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861834275864:ios:3011428ccd2eb65593676d</string>
	<key>DATABASE_URL</key>
	<string>https://rando-pneus.firebaseio.com</string>
</dict>
</plist>