<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu_button" [disabled]="true"></ion-menu-button>
    </ion-buttons>
    <img class="papatte" src="./assets/img/patte.png" align="middle" alt="">
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <div id="flex">

    <ion-icon class="person" name="person"></ion-icon>
    <div id="login">

      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <ion-input type="text" placeholder="Identifiant" formControlName="login"></ion-input>
        <ion-input type="password" placeholder="Mot de passe" formControlName="password"></ion-input>
        <ion-button color="primary" expand="full" shape="" type="submit" [disabled]="!loginForm.valid">Valider</ion-button>
      </form>
    </div>
  </div>
</ion-content>
