#flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login {
  max-width: 50%;
}

#login ion-input {
  width: 300px;
  height: 48px;
  border: 1px solid #B9AA97;
  margin-bottom: 24px;
  padding-left: 5px !important;
}

#login ion-input input {
  margin: 15px;
}

.person {
  color: #747474;
  font-size: 8em;
}

ion-button:disabled {
  background: red
}
